.iosscrollable {
    height: auto;
    -webkit-overflow-scrolling: touch;
}

.u-half-width {
  width: 47.5%;
  box-sizing: border-box;
  float: left;
}

.rpad{
    margin-right: 5%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]
{
    max-width: 100%;
}

@media screen and (max-width: 350px) {
    .button, button, input[type="submit"], input[type="reset"], input[type="button"]
    {
        padding: 0 10px;
    }
}

@media screen and (max-width: 550px) {
    input[type="number"] {
        width: 100%;
    }
    select[name="instrument"] {
        width: 100%;
    }

}
