h1 {
    text-align: center;
}

h1 a {
    color: black;
}

fieldset {
    margin-bottom: 0.5em;
}

label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.25em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th, table {
    padding: 0;
}

table td > em {
    margin-left: 0.25em;
}
textarea {
    width: 100%;
    height: auto;
    -webkit-overflow-scrolling: touch;
}

select, input[type="text"], input[type="number"] {
    width: 12em;
    height: 1.5em;
}

table input[type="text"] {
    width: 95%;
}
