textarea {
    height: auto;
    -webkit-overflow-scrolling: touch;
}

select[name="presets"] {
    width: 100%;
}

label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

table td, table th, table {
    padding: 0;
}

table input[type="text"] {
    width: 95%;
}
